body {
    /* margin-left: 50px; */
    font-family: sans-serif; /* This changes the font */
    background-color: #f9f9f9; /* slightly off-white color */
    margin-bottom: 100px; /* This adds space at the bottom of the page */
}

h1 {
    padding-top: 20px;
    padding-bottom: 0px;
  }

  h2 {
    padding-top: 40px;
    padding-bottom: 0px;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 0px;
  }


iframe {
    border: none; /* This removes the border */
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.text-block {
    width: 1000px;
}


footer {
    width: 1000px;
}