body {
    /* margin-left: 50px; */
    font-family: sans-serif; /* This changes the font */
    background-color: #f9f9f9; /* slightly off-white color */
}

iframe {
    border: none; /* This removes the border */
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}