body {
    /* margin-left: 50px; */
    font-family: 'Inter', sans-serif; /* This changes the font family */
    /* background-color: #f9f9f9; slightly off-white color for bg */
    background-color: #f3f3f3; /* slightly off-white color for bg*/
    margin-bottom: 100px; /* This adds space at the bottom of the page */
}

h1 {
    padding-top: 20px;
    padding-bottom: 0px;
    font-size: 2.3em;
  }

  h2 {
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 1.8em;
  }

  h3 {
    padding-top: 20px;
    padding-bottom: 0px;
  }


iframe {
    border: none; /* This removes the border */

}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.text-block {
  text-align: justify; /* This justifies the text */
  width: 1000px;
}


.references {
  width: 1000px;
}


footer {
  width: 1000px;
}

.caption {
  text-align: justify;
  color: #000000;
  font-size: 0.8em;
  margin-top: 0px; /* Adjust as needed */
  margin-bottom: 40px; /* Adjust as needed */
}

